name: Build

on:
  push:
    branches:
      - master

jobs:
  make:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-2022
            platform: win32
            arch: x64
          - os: windows-11-arm
            platform: win32
            arch: arm64
          - os: macos-latest
            platform: darwin
            arch: arm64
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm
      - name: Setup Python 3.11 (node-gyp)
        if: runner.os == 'Windows'
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: pnpm install --frozen-lockfile
      - run: pnpm forge:make --platform=${{ matrix.platform }} --arch=${{ matrix.arch }}
      - uses: actions/upload-artifact@v4
        with:
          name: make-${{ matrix.platform }}-${{ matrix.arch }}
          path: out/make/**/*
